﻿/* W3.CSS 4.12 November 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.calculator-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.calculator-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.calculator-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.calculator-table,.calculator-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.calculator-table-all{border:1px solid #ccc}
.calculator-bordered tr,.calculator-table-all tr{border-bottom:1px solid #ddd}.calculator-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.calculator-table-all tr:nth-child(odd){background-color:#fff}.calculator-table-all tr:nth-child(even){background-color:#f1f1f1}
.calculator-hoverable tbody tr:hover,.calculator-ul.calculator-hoverable li:hover{background-color:#ccc}.calculator-centered tr th,.calculator-centered tr td{text-align:center}
.calculator-table td,.calculator-table th,.calculator-table-all td,.calculator-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.calculator-table th:first-child,.calculator-table td:first-child,.calculator-table-all th:first-child,.calculator-table-all td:first-child{padding-left:16px}
.calculator-btn,.calculator-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.calculator-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.calculator-btn,.calculator-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.calculator-disabled,.calculator-btn:disabled,.calculator-button:disabled{cursor:not-allowed;opacity:0.3}.calculator-disabled *,:disabled *{pointer-events:none}
.calculator-btn.calculator-disabled:hover,.calculator-btn:disabled:hover{box-shadow:none}
.calculator-badge,.calculator-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.calculator-badge{border-radius:50%}
.calculator-ul{list-style-type:none;padding:0;margin:0}.calculator-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.calculator-ul li:last-child{border-bottom:none}
.calculator-tooltip,.calculator-display-container{position:relative}.calculator-tooltip .calculator-text{display:none}.calculator-tooltip:hover .calculator-text{display:inline-block}
.calculator-ripple:active{opacity:0.5}.calculator-ripple{transition:opacity 0s}
.calculator-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.calculator-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.calculator-dropdown-click,.calculator-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.calculator-dropdown-hover:hover .calculator-dropdown-content{display:block}
.calculator-dropdown-hover:first-child,.calculator-dropdown-click:hover{background-color:#ccc;color:#000}
.calculator-dropdown-hover:hover > .calculator-button:first-child,.calculator-dropdown-click:hover > .calculator-button:first-child{background-color:#ccc;color:#000}
.calculator-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.calculator-check,.calculator-radio{width:24px;height:24px;position:relative;top:6px}
.calculator-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.calculator-bar-block .calculator-dropdown-hover,.calculator-bar-block .calculator-dropdown-click{width:100%}
.calculator-bar-block .calculator-dropdown-hover .calculator-dropdown-content,.calculator-bar-block .calculator-dropdown-click .calculator-dropdown-content{min-width:100%}
.calculator-bar-block .calculator-dropdown-hover .calculator-button,.calculator-bar-block .calculator-dropdown-click .calculator-button{width:100%;text-align:left;padding:8px 16px}
.calculator-main,#main{transition:margin-left .4s}
.calculator-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.calculator-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.calculator-bar{width:100%;overflow:hidden}.calculator-center .calculator-bar{display:inline-block;width:auto}
.calculator-bar .calculator-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.calculator-bar .calculator-dropdown-hover,.calculator-bar .calculator-dropdown-click{position:static;float:left}
.calculator-bar .calculator-button{white-space:normal}
.calculator-bar-block .calculator-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.calculator-bar-block.calculator-center .calculator-bar-item{text-align:center}.calculator-block{display:block;width:100%}
.calculator-responsive{display:block;overflow-x:auto}
.calculator-container:after,.calculator-container:before,.calculator-panel:after,.calculator-panel:before,.calculator-row:after,.calculator-row:before,.calculator-row-padding:after,.calculator-row-padding:before,
.calculator-cell-row:before,.calculator-cell-row:after,.calculator-clear:after,.calculator-clear:before,.calculator-bar:before,.calculator-bar:after{content:"";display:table;clear:both}
.calculator-col,.calculator-half,.calculator-third,.calculator-twothird,.calculator-threequarter,.calculator-quarter{float:left;width:100%}
.calculator-col.s1{width:8.33333%}.calculator-col.s2{width:16.66666%}.calculator-col.s3{width:24.99999%}.calculator-col.s4{width:33.33333%}
.calculator-col.s5{width:41.66666%}.calculator-col.s6{width:49.99999%}.calculator-col.s7{width:58.33333%}.calculator-col.s8{width:66.66666%}
.calculator-col.s9{width:74.99999%}.calculator-col.s10{width:83.33333%}.calculator-col.s11{width:91.66666%}.calculator-col.s12{width:99.99999%}
@media (min-width:601px){.calculator-col.m1{width:8.33333%}.calculator-col.m2{width:16.66666%}.calculator-col.m3,.calculator-quarter{width:24.99999%}.calculator-col.m4,.calculator-third{width:33.33333%}
.calculator-col.m5{width:41.66666%}.calculator-col.m6,.calculator-half{width:49.99999%}.calculator-col.m7{width:58.33333%}.calculator-col.m8,.calculator-twothird{width:66.66666%}
.calculator-col.m9,.calculator-threequarter{width:74.99999%}.calculator-col.m10{width:83.33333%}.calculator-col.m11{width:91.66666%}.calculator-col.m12{width:99.99999%}}
@media (min-width:993px){.calculator-col.l1{width:8.33333%}.calculator-col.l2{width:16.66666%}.calculator-col.l3{width:24.99999%}.calculator-col.l4{width:33.33333%}
.calculator-col.l5{width:41.66666%}.calculator-col.l6{width:49.99999%}.calculator-col.l7{width:58.33333%}.calculator-col.l8{width:66.66666%}
.calculator-col.l9{width:74.99999%}.calculator-col.l10{width:83.33333%}.calculator-col.l11{width:91.66666%}.calculator-col.l12{width:99.99999%}}
.calculator-rest{overflow:hidden}.calculator-stretch{margin-left:-16px;margin-right:-16px}
.calculator-content,.calculator-auto{margin-left:auto;margin-right:auto}.calculator-content{max-width:980px}.calculator-auto{max-width:1140px}
.calculator-cell-row{display:table;width:100%}.calculator-cell{display:table-cell}
.calculator-cell-top{vertical-align:top}.calculator-cell-middle{vertical-align:middle}.calculator-cell-bottom{vertical-align:bottom}
.calculator-hide{display:none!important}.calculator-show-block,.calculator-show{display:block!important}.calculator-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.calculator-auto{max-width:95%}}
@media (max-width:600px){.calculator-modal-content{margin:0 10px;width:auto!important}.calculator-modal{padding-top:30px}
.calculator-dropdown-hover.calculator-mobile .calculator-dropdown-content,.calculator-dropdown-click.calculator-mobile .calculator-dropdown-content{position:relative}	
.calculator-hide-small{display:none!important}.calculator-mobile{display:block;width:100%!important}.calculator-bar-item.calculator-mobile,.calculator-dropdown-hover.calculator-mobile,.calculator-dropdown-click.calculator-mobile{text-align:center}
.calculator-dropdown-hover.calculator-mobile,.calculator-dropdown-hover.calculator-mobile .calculator-btn,.calculator-dropdown-hover.calculator-mobile .calculator-button,.calculator-dropdown-click.calculator-mobile,.calculator-dropdown-click.calculator-mobile .calculator-btn,.calculator-dropdown-click.calculator-mobile .calculator-button{width:100%}}
@media (max-width:768px){.calculator-modal-content{width:500px}.calculator-modal{padding-top:50px}}
@media (min-width:993px){.calculator-modal-content{width:900px}.calculator-hide-large{display:none!important}.calculator-sidebar.calculator-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.calculator-hide-medium{display:none!important}}
@media (max-width:992px){.calculator-sidebar.calculator-collapse{display:none}.calculator-main{margin-left:0!important;margin-right:0!important}.calculator-auto{max-width:100%}}
.calculator-top,.calculator-bottom{position:fixed;width:100%;z-index:1}.calculator-top{top:0}.calculator-bottom{bottom:0}
.calculator-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.calculator-display-topleft{position:absolute;left:0;top:0}.calculator-display-topright{position:absolute;right:0;top:0}
.calculator-display-bottomleft{position:absolute;left:0;bottom:0}.calculator-display-bottomright{position:absolute;right:0;bottom:0}
.calculator-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.calculator-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.calculator-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.calculator-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.calculator-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.calculator-display-container:hover .calculator-display-hover{display:block}.calculator-display-container:hover span.calculator-display-hover{display:inline-block}.calculator-display-hover{display:none}
.calculator-display-position{position:absolute}
.calculator-circle{border-radius:50%}
.calculator-round-small{border-radius:2px}.calculator-round,.calculator-round-medium{border-radius:4px}.calculator-round-large{border-radius:8px}.calculator-round-xlarge{border-radius:16px}.calculator-round-xxlarge{border-radius:32px}
.calculator-row-padding,.calculator-row-padding>.calculator-half,.calculator-row-padding>.calculator-third,.calculator-row-padding>.calculator-twothird,.calculator-row-padding>.calculator-threequarter,.calculator-row-padding>.calculator-quarter,.calculator-row-padding>.calculator-col{padding:0 8px}
.calculator-container,.calculator-panel{padding:0.01em 16px}.calculator-panel{margin-top:16px;margin-bottom:16px}
.calculator-code,.calculator-codespan{font-family:Consolas,"courier new";font-size:16px}
.calculator-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.calculator-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.calculator-card,.calculator-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.calculator-card-4,.calculator-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.calculator-spin{animation:calculator-spin 2s infinite linear}@keyframes calculator-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.calculator-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.calculator-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.calculator-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.calculator-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.calculator-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.calculator-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.calculator-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.calculator-animate-input{transition:width 0.4s ease-in-out}.calculator-animate-input:focus{width:100%!important}
.calculator-opacity,.calculator-hover-opacity:hover{opacity:0.60}.calculator-opacity-off,.calculator-hover-opacity-off:hover{opacity:1}
.calculator-opacity-max{opacity:0.25}.calculator-opacity-min{opacity:0.75}
.calculator-greyscale-max,.calculator-grayscale-max,.calculator-hover-greyscale:hover,.calculator-hover-grayscale:hover{filter:grayscale(100%)}
.calculator-greyscale,.calculator-grayscale{filter:grayscale(75%)}.calculator-greyscale-min,.calculator-grayscale-min{filter:grayscale(50%)}
.calculator-sepia{filter:sepia(75%)}.calculator-sepia-max,.calculator-hover-sepia:hover{filter:sepia(100%)}.calculator-sepia-min{filter:sepia(50%)}
.calculator-tiny{font-size:10px!important}.calculator-small{font-size:12px!important}.calculator-medium{font-size:15px!important}.calculator-large{font-size:18px!important}
.calculator-xlarge{font-size:24px!important}.calculator-xxlarge{font-size:36px!important}.calculator-xxxlarge{font-size:48px!important}.calculator-jumbo{font-size:64px!important}
.calculator-left-align{text-align:left!important}.calculator-right-align{text-align:right!important}.calculator-justify{text-align:justify!important}.calculator-center{text-align:center!important}
.calculator-border-0{border:0!important}.calculator-border{border:1px solid #ccc!important}
.calculator-border-top{border-top:1px solid #ccc!important}.calculator-border-bottom{border-bottom:1px solid #ccc!important}
.calculator-border-left{border-left:1px solid #ccc!important}.calculator-border-right{border-right:1px solid #ccc!important}
.calculator-topbar{border-top:6px solid #ccc!important}.calculator-bottombar{border-bottom:6px solid #ccc!important}
.calculator-leftbar{border-left:6px solid #ccc!important}.calculator-rightbar{border-right:6px solid #ccc!important}
.calculator-section,.calculator-code{margin-top:16px!important;margin-bottom:16px!important}
.calculator-margin{margin:16px!important}.calculator-margin-top{margin-top:16px!important}.calculator-margin-bottom{margin-bottom:16px!important}
.calculator-margin-left{margin-left:16px!important}.calculator-margin-right{margin-right:16px!important}
.calculator-padding-small{padding:4px 8px!important}.calculator-padding{padding:8px 16px!important}.calculator-padding-large{padding:12px 24px!important}
.calculator-padding-16{padding-top:16px!important;padding-bottom:16px!important}.calculator-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.calculator-padding-32{padding-top:32px!important;padding-bottom:32px!important}.calculator-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.calculator-padding-64{padding-top:0px!important;padding-bottom:0px!important}
.calculator-left{float:left!important}.calculator-right{float:right!important}
.calculator-button:hover{color:#000!important;background-color:#ccc!important}
.calculator-transparent,.calculator-hover-none:hover{background-color:transparent!important}
.calculator-hover-none:hover{box-shadow:none!important}
/* Colors */
.calculator-amber,.calculator-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.calculator-aqua,.calculator-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.calculator-blue,.calculator-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.calculator-light-blue,.calculator-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.calculator-brown,.calculator-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.calculator-cyan,.calculator-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.calculator-blue-grey,.calculator-hover-blue-grey:hover,.calculator-blue-gray,.calculator-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.calculator-green,.calculator-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.calculator-light-green,.calculator-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.calculator-indigo,.calculator-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.calculator-khaki,.calculator-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.calculator-lime,.calculator-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.calculator-orange,.calculator-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.calculator-deep-orange,.calculator-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.calculator-pink,.calculator-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.calculator-purple,.calculator-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.calculator-deep-purple,.calculator-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.calculator-red,.calculator-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.calculator-sand,.calculator-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.calculator-teal,.calculator-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.calculator-yellow,.calculator-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.calculator-white,.calculator-hover-white:hover{color:#000!important;background-color:#fff!important}
.calculator-black,.calculator-hover-black:hover{color:#fff!important;background-color:#000!important}
.calculator-grey,.calculator-hover-grey:hover,.calculator-gray,.calculator-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.calculator-light-grey,.calculator-hover-light-grey:hover,.calculator-light-gray,.calculator-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.calculator-dark-grey,.calculator-hover-dark-grey:hover,.calculator-dark-gray,.calculator-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.calculator-pale-red,.calculator-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.calculator-pale-green,.calculator-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.calculator-pale-yellow,.calculator-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.calculator-pale-blue,.calculator-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.calculator-text-amber,.calculator-hover-text-amber:hover{color:#ffc107!important}
.calculator-text-aqua,.calculator-hover-text-aqua:hover{color:#00ffff!important}
.calculator-text-blue,.calculator-hover-text-blue:hover{color:#2196F3!important}
.calculator-text-light-blue,.calculator-hover-text-light-blue:hover{color:#87CEEB!important}
.calculator-text-brown,.calculator-hover-text-brown:hover{color:#795548!important}
.calculator-text-cyan,.calculator-hover-text-cyan:hover{color:#00bcd4!important}
.calculator-text-blue-grey,.calculator-hover-text-blue-grey:hover,.calculator-text-blue-gray,.calculator-hover-text-blue-gray:hover{color:#607d8b!important}
.calculator-text-green,.calculator-hover-text-green:hover{color:#4CAF50!important}
.calculator-text-light-green,.calculator-hover-text-light-green:hover{color:#8bc34a!important}
.calculator-text-indigo,.calculator-hover-text-indigo:hover{color:#3f51b5!important}
.calculator-text-khaki,.calculator-hover-text-khaki:hover{color:#b4aa50!important}
.calculator-text-lime,.calculator-hover-text-lime:hover{color:#cddc39!important}
.calculator-text-orange,.calculator-hover-text-orange:hover{color:#ff9800!important}
.calculator-text-deep-orange,.calculator-hover-text-deep-orange:hover{color:#ff5722!important}
.calculator-text-pink,.calculator-hover-text-pink:hover{color:#e91e63!important}
.calculator-text-purple,.calculator-hover-text-purple:hover{color:#9c27b0!important}
.calculator-text-deep-purple,.calculator-hover-text-deep-purple:hover{color:#673ab7!important}
.calculator-text-red,.calculator-hover-text-red:hover{color:#f44336!important}
.calculator-text-sand,.calculator-hover-text-sand:hover{color:#fdf5e6!important}
.calculator-text-teal,.calculator-hover-text-teal:hover{color:#009688!important}
.calculator-text-yellow,.calculator-hover-text-yellow:hover{color:#d2be0e!important}
.calculator-text-white,.calculator-hover-text-white:hover{color:#fff!important}
.calculator-text-black,.calculator-hover-text-black:hover{color:#000!important}
.calculator-text-grey,.calculator-hover-text-grey:hover,.calculator-text-gray,.calculator-hover-text-gray:hover{color:#757575!important}
.calculator-text-light-grey,.calculator-hover-text-light-grey:hover,.calculator-text-light-gray,.calculator-hover-text-light-gray:hover{color:#f1f1f1!important}
.calculator-text-dark-grey,.calculator-hover-text-dark-grey:hover,.calculator-text-dark-gray,.calculator-hover-text-dark-gray:hover{color:#3a3a3a!important}
.calculator-border-amber,.calculator-hover-border-amber:hover{border-color:#ffc107!important}
.calculator-border-aqua,.calculator-hover-border-aqua:hover{border-color:#00ffff!important}
.calculator-border-blue,.calculator-hover-border-blue:hover{border-color:#2196F3!important}
.calculator-border-light-blue,.calculator-hover-border-light-blue:hover{border-color:#87CEEB!important}
.calculator-border-brown,.calculator-hover-border-brown:hover{border-color:#795548!important}
.calculator-border-cyan,.calculator-hover-border-cyan:hover{border-color:#00bcd4!important}
.calculator-border-blue-grey,.calculator-hover-border-blue-grey:hover,.calculator-border-blue-gray,.calculator-hover-border-blue-gray:hover{border-color:#607d8b!important}
.calculator-border-green,.calculator-hover-border-green:hover{border-color:#4CAF50!important}
.calculator-border-light-green,.calculator-hover-border-light-green:hover{border-color:#8bc34a!important}
.calculator-border-indigo,.calculator-hover-border-indigo:hover{border-color:#3f51b5!important}
.calculator-border-khaki,.calculator-hover-border-khaki:hover{border-color:#f0e68c!important}
.calculator-border-lime,.calculator-hover-border-lime:hover{border-color:#cddc39!important}
.calculator-border-orange,.calculator-hover-border-orange:hover{border-color:#ff9800!important}
.calculator-border-deep-orange,.calculator-hover-border-deep-orange:hover{border-color:#ff5722!important}
.calculator-border-pink,.calculator-hover-border-pink:hover{border-color:#e91e63!important}
.calculator-border-purple,.calculator-hover-border-purple:hover{border-color:#9c27b0!important}
.calculator-border-deep-purple,.calculator-hover-border-deep-purple:hover{border-color:#673ab7!important}
.calculator-border-red,.calculator-hover-border-red:hover{border-color:#f44336!important}
.calculator-border-sand,.calculator-hover-border-sand:hover{border-color:#fdf5e6!important}
.calculator-border-teal,.calculator-hover-border-teal:hover{border-color:#009688!important}
.calculator-border-yellow,.calculator-hover-border-yellow:hover{border-color:#ffeb3b!important}
.calculator-border-white,.calculator-hover-border-white:hover{border-color:#fff!important}
.calculator-border-black,.calculator-hover-border-black:hover{border-color:#000!important}
.calculator-border-grey,.calculator-hover-border-grey:hover,.calculator-border-gray,.calculator-hover-border-gray:hover{border-color:#9e9e9e!important}
.calculator-border-light-grey,.calculator-hover-border-light-grey:hover,.calculator-border-light-gray,.calculator-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.calculator-border-dark-grey,.calculator-hover-border-dark-grey:hover,.calculator-border-dark-gray,.calculator-hover-border-dark-gray:hover{border-color:#616161!important}
.calculator-border-pale-red,.calculator-hover-border-pale-red:hover{border-color:#ffe7e7!important}.calculator-border-pale-green,.calculator-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.calculator-border-pale-yellow,.calculator-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.calculator-border-pale-blue,.calculator-hover-border-pale-blue:hover{border-color:#e7ffff!important}

.calculator-theme-l5 {color:#000 !important; background-color:#f0f0f0 !important}
.calculator-theme-l4 {color:#000 !important; background-color:#cccccc !important}
.calculator-theme-l3 {color:#fff !important; background-color:#999999 !important}
.calculator-theme-l2 {color:#fff !important; background-color:#666666 !important}
.calculator-theme-l1 {color:#fff !important; background-color:#333333 !important}
.calculator-theme-d1 {color:#fff !important; background-color:#000000 !important}
.calculator-theme-d2 {color:#fff !important; background-color:#000000 !important}
.calculator-theme-d3 {color:#fff !important; background-color:#000000 !important}
.calculator-theme-d4 {color:#fff !important; background-color:#000000 !important}
.calculator-theme-d5 {color:#fff !important; background-color:#000000 !important}

.calculator-theme-light {color:#000 !important; background-color:#f0f0f0 !important}
.calculator-theme-dark {color:#fff !important; background-color:#000000 !important}
.calculator-theme-action {color:#fff !important; background-color:#000000 !important}

.calculator-theme {color:#fff !important; background-color:#000000 !important}
.calculator-text-theme {color:#000000 !important}
.calculator-border-theme {border-color:#000000 !important}

.calculator-hover-theme:hover {color:#fff !important; background-color:#000000 !important}
.calculator-hover-text-theme:hover {color:#000000 !important}
.calculator-hover-border-theme:hover {border-color:#000000 !important}



/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.calculator-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}